.post-container h3{
    font-size: 2rem;
}
.post-group{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto;
}